body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: Helvetica;
}

@font-face {
  font-family: Helvetica;
  src: url("assets/Helvetica.woff");
}

@font-face {
  font-family: HelveticaBold;
  src: url("assets/helvetica-bold.ttf");
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#numbers-grid-container {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

#numbers-grid {
  width: 83vh;
  height: 83vh;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.3vh;
  height: 8.3vh;
}

.number {
  font-family: HelveticaBold;
  font-size: 4vh;
  opacity: 0.1;
  transition: scale 0.1 ease-in-out;
}

.number.highlighted {
  opacity: 1 !important;
  color: white;
  filter: drop-shadow(0 0 0.2vh #0000002c);
}

.number-container.highlighted {
  background-color: #00000040;
}

.number-container.rolled {
  animation: rolled 0.3s;
  -wekbit-animation: rolled 0.3s ease-in-out;
}

.number.rolled {
  opacity: 1 !important;
  color: white;
}

@keyframes rolled {
  0% {
    background-color: #00000000;
  }
  20% {
    background-color: #00000000;
  }
  21% {
    background-color: #00000020;
  }
  50% {
    background-color: #00000020;
  }
  51% {
    background-color: #00000000;
  }
  86% {
    background-color: #00000000;
  }
  87% {
    background-color: #00000020;
  }
  99% {
    background-color: #00000020;
  }
  100% {
    background-color: #00000000;
  }
}

#card-pack-container {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform: translateY(100vh);
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-pack {
  position: absolute;
  height: 50vh;
  bottom: -10vh;
  width: 300px;
  height: 500px;
}

.card-pack-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.drawing {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.bounce-in {
  animation: bounce-in 0.75s ease-in-out;
  -webkit-animation: bounce-in 0.75s ease-in-out;
}

.bounce-out {
  animation: bounce-out 0.75s ease-in-out;
  -webkit-animation: bounce-out 0.75s ease-in-out;
}

@keyframes bounce-in {
  0% {
    transform: translateY(100vh);
  }
  70% {
    transform: translateY(-2.09vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-out {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-2.09vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

#buttons-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  pointer-events: none;
}

button {
  font-size: 1.8vh;
  padding: 0.8vh 1.5vh;
  margin-bottom: 2vh;
  pointer-events: all;
}

#debug {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: start;
  padding: 30px;
}

#bets-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
}

#bets-header {
  width: 100%;
  text-align: right;
  font-size: 2vh;
  margin-bottom: 1vh;
  margin-top: 3vh;
}

.bet {
  width: 25vh;
  height: 10vh;
  background-color: rgb(239 239 239);
  border: 0.2vh solid rgb(176, 176, 176);
  margin-bottom: 1vh;
}

.bet-title {
  padding-top: 1.5vh;
  font-size: 2vh;
  width: 100%;
  text-align: center;
}

.bet-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1vh;
}

.hearts-container {
  padding-bottom: vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.number-tooltip {
  width: 12vw;
  height: 8vw;
  border-radius: 1vw;
  background-color: white;
  border: 0.25vh solid black;
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12vw;
}

.top {
  margin-bottom: 0;
  margin-top: 12vw;
}

#roll-container {
  position: absolute;
  bottom: 0;
  left: 50vw;
  height: 13vh;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: start;
}

#roll-button {
  margin-bottom: 1vh;
}

#roll-button:disabled {
  opacity: 0.8;
}

/* Mobile */
@media (max-width: 600px) {
  #numbers-grid {
    width: 97vw;
    height: 115vw;
    padding-top: 15vh;
  }

  #debug {
    display: none;
  }

  .number-container {
    width: 9.7vw;
    height: 11.5vw;
  }

  .number {
    font-size: 2.6vh;
  }

  #buttons-container {
    width: 100vw;
    padding: 0;
  }

  #roll-container {
    height: 25vh;
  }
}
